# Conditionals and Comparisons

[Download this file and Bellevue Almshouse data (not necessary but optional to explore)](https://melaniewalsh.org/Comparisons-Conditionals.zip)

| **Comparison Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x == y `         | `True` if x is equal to y                                                                                |
| `x != y `         | `True` if x is not equal to y                                               |
| `x > y`       |  `True` if x is greater than y                                                        |
| `x < y`       |   `True` if x is less than y  
| `x >= y`       |   `True` if x is greater than or equal to y |
| `x <= y`      | `True` if x is less than or equal to y`                                                                             |
                                                                      |

| **Logical Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x and y`         | `True` if x and y are both True                                                                             |
| `x or y`         | `True` if either x or y is True                                              |
| `not x`       |  `True` if is x is not True                                                       |

Last lesson, we talked about the four Python data types, which included Booleans or True/False statements. We discussed how if we make a variable called `beyonce` and assign it the value "Grammy award-winner"...

In [5]:
beyonce = "Grammy award-winner"

...and then we evaluate that statement with the equals operator `==`...

In [6]:
beyonce == "Grammy award-winner"

True

In [23]:
type(beyonce == "Grammy award-winner")

bool

...the operator will return a Boolean, which will tell us whether the statement is True or False.

Booleans may seem simple, but they're extremely powerful and function as the engine of a lot of code. They allow us to instruct the computer to do things based on different "conditions."

# If Statement

An `if` statement is an instruction to do something *if* a particular condition is met.

A common conditional will consist of two lines. On the first line, you will type the English word `if` followed by an evaluation `beyonce == "Grammy award-winner"` and then a colon `:`. On the second line, you will indent (press `Tab`), then write an instruction to be completed if the condition is met, such as `print("Congratulations, Beyonce!")`

In [ ]:
beyonce = "Grammy award-winner"

In [25]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")

Congratulations, Beyonce!

Python is picky about how you format `if` statements. Look what happens if we forget to tab over on the second line or if we forget the colon:

In [26]:
if beyonce == "Grammy award-winner":
print("Congratulations, Beyonce!")

IndentationError: expected an indented block (<ipython-input-26-d73728e9035a>, line 2)

In [38]:
if beyonce == "Grammy award-winner"
    print("Congratulations, Beyonce!")

SyntaxError: invalid syntax (<ipython-input-38-4a91584b2aab>, line 1)

# Else Statement

You can add even more complexity in a conditional by adding an `else` statement. This will instruct the program to do something in case the condition is not met. You put it after an `if` statement and format it the same way.

In [39]:
beyonce = "not a Grammy award-winner this year"

In [40]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
else:
    print("They messed up, Beyonce.")

They messed up, Beyonce.

# Elif Statement

Sometimes you want even more nuance to respond to slightly different conditions. For example, if Beyonce was nominated for a Grammy but didn't win, then we might want to express a slightly different sentiment than if she won or was not nominated at all. You can add in this nuance with an `elif` state or else if statement, which will evaluate the first `if` statement and then *if* that statement is not True, it will evaluate the `elif` statement.

In [137]:
beyonce = "Grammy award-nominee"

In [138]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
elif beyonce == "Grammy award-nominee":
    print("Ok well at least they nominated you, Beyonce.")
else:
    print("They messed up, Beyonce.")

Ok well at least they nominated you, Beyonce.

# Group Exercise / HW Assignment 3 (Part I)

For this group exercise and HW assignment, we're going to draw on Anelise Shrout's [Bellevue Almshouse data](https://www.nyuirish.net/almshouse/the-almshouse-records/). Below I'm displaying the dataset with the Python library "Pandas" just so we can get a peek at it. We won't actually be working directly with this CSV file at the moment, and we'll talk about Pandas more in a few lessons.

In [60]:
import pandas as pd
almshouse_data = pd.read_csv('../data/bellevue_almshouse_modified.csv')
almshouse_data.head(20)

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,f,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
5,1847-04-14,Bridget,Hart,20.0,recent emigrant,spinster,f,Child
6,1847-04-14,Mary,Green,40.0,recent emigrant,spinster,f,And child 2 months
7,1847-04-19,Daniel,Loftus,27.0,destitution,laborer,m,NaN
8,1847-04-10,James,Day,35.0,recent emigrant,laborer,m,NaN
9,1847-04-10,Margaret,Farrell,30.0,recent emigrant,widow,f,NaN
10,1847-04-10,Bridget,Day,30.0,recent emigrant,married,f,NaN
11,1847-04-10,Anthony,Day,0.5,recent emigrant,NaN,m,NaN
12,1847-04-07,James,Collins,22.0,recent emigrant,laborer,m,NaN
13,1847-04-07,Thomas,Collins,21.0,recent emigrant,laborer,m,NaN
14,1847-04-07,Pat,Whalen,25.0,recent emigrant,laborer,m,NaN
15,1847-04-17,Dan,Delany,10.0,typhus,NaN,m,NaN
16,1847-04-09,Catherine,O'Harra,23.0,recent emigrant,married,f,NaN
17,1847-04-09,Damiel,O'Harra,25.0,recent emigrant,laborer,m,NaN
18,1847-04-12,Margaret,Delaney,26.0,recent emigrant,married,f,NaN
19,1847-04-12,Michael,Delany,3.0,recent emigrant,NaN,m,NaN

We're going to make a series of variables and assign them values based on the Bellevue Almshouse dataset. Make sure you run these cells.

### Person 1

In [134]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

### Person 2

In [77]:
person2_name = 'John Sanin(?)'
person2_age = 19
person2_disease = 'recent emigrant'
person2_profession = 'laborer'
person2_gender = 'm'
person2_child_status = 'Catherine 2 mo'

### Person 3

In [ ]:
person3_name = 'Anthony Clark'
person3_age = 60
person3_disease = 'recent emigrant'
person3_profession = 'laborer'
person3_gender = 'm'
person3_child_status = 'Charles Riley afed 10 days'

### Person 4

In [85]:
person4_name = 'Margaret Farrell'
person4_age = 30
person4_disease = 'recent emigrant'
person4_profession = 'widow'
person4_gender = 'w'
person4_child_status = ''

**1.** Write an `if` statement that reports whether `person1_age` is less than 30 years old.

In [109]:
#Your code here
    print('Person is less than 30 years old.')

Person is less than 30 years old.

**2.** Write an `if` statement that reports whether `person1_profession` is "married."

In [107]:
#Your code here
    print('Person is married.')

Person is married.

**3.** Write an `if` statement that reports whether `person1_age` is less than 30 years old *and* `person1_profession` is "married."

In [135]:
#Your code here
    print('Person is less than 30 years old and married.')

Person is less than 30 years old and married.

**4.** Complicate your `if` statement from Question 1 by adding an `else` statement that prints "Person is older than 30 years old". Then evaluate whether `person3_age` is less than 30 years old.

In [83]:
#Your code here
    print('Person is less than 30 years old.')
#Your code here
    print('Person is more than 30 years old.')

Person is more than 30 years old.

**5.** Now evaluate whether `person4_age` is less than 30 years using the same code as Question 4.

In [89]:
#Your code here
    print('Person is less than 30 years old')
#Your code here
    print('Person is more than 30 years old.')

Person is more than 30 years old.

Hmmm, with the code as written, it's telling us that Margaret Farrell, who is 30 years old, is *more* than 30 years old. Add an `elif` statement that reports whether the person is exactly 30 years old.

In [90]:
#Your code here
    print('Person is less than 30 years old.')
#Your code here
    print('Person is exactly 30 years old.')
#Your code here
    print('Person is more than 30 years old.')

Person is exactly 30 years old.

**6.** Write an `if` statement that will report whether `person1_child_status` includes children.

In [100]:
#Your code here
    print('Person has children.')

Person has children.

**7.** Write one `if` statement that will accurately report whether `person1_child_status` includes children and, separately, if `person2_child_status` includes children. (Hint: think about how you might use the `!=` operator.)

In [ ]:
if person1_child_status #Your Code Here
    print('Person has children.')

In [ ]:
if person2_child_status #Same Code Here
    print('Person has children.')

**8.** Write a conditional that will report whether `person1_profession` is "married," "laborer," "widow," or "unknown profession." Test your code by reassigning the variable as indicated below.

In [113]:
person1_profession = 'married'

In [114]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person is married.

In [115]:
person1_profession = 'laborer'

In [116]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person is a laborer.

In [119]:
person1_profession = 'widow'

In [120]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person is a widow.

In [121]:
person1_profession = 'student'

In [122]:
#Your code here
    print('Person is married.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Person has unknown profession.

**9.** Some of the Irish immigrants' names have question marks after them. Let's clean up some of the data and remove the question marks. You can use the Python keyword `in` to test whether a string appears within another string. Print `person2_name` with the question mark and parentheses removed. (Hint: think about f-strings and string methods!)

In [132]:
if "(?)" in person2_name:
    #Your code here

John Sanin

**10.** In a few sentences, write about your experiencing using and manipulating the Bellevue Almshouse data after reading Shrout's essay. How, if at all, did using this data influence your understanding of how Python works?

**#Your thoughts here**